-e git+ssh://git@github.com/hjstephan/bool-mm.git@main#egg
cairocffi
CairoSVG
cffi
contourpy
coverage
cssselect2
cycler
defusedxml
fonttools
iniconfig
kiwisolver
matplotlib
numpy
packaging
pillow
pluggy
pycparser
Pygments
pyparsing
pytest
pytest-cov
python-dateutil
six
tinycss2
webencodings
